fieldset
  border: 1px solid #777
  border-radius: .3rem
  overflow: hidden
  &.closed
    max-height: 1.8rem
  &.open
    max-height: none
  legend
    margin: 0 .75rem 0
    padding: 0 .5rem
    width: auto
    color: #006699
    font-size: 1rem
    &:before
      margin: 0 .3rem
      content: ''
      display: inline-block
      width: 0
      height: 0
      border: 5px solid transparent 
      border-left-color: #006699 
  &.open > legend:before
      margin-top: 3px
      margin-bottom: -3px
      border-top-color: #006699
      border-left-color: transparent 

