html, body
  margin: 0
  padding: 0
  font-size: 1rem
  color: #444
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
  background-color: #eee
  box-sizing: border-box

.container
  margin: 1rem 2rem
  padding: 1rem 2rem 3rem
  border-radius: 1rem
  max-width: 60rem
  background: #fefefe
  position: relative
h2
  font-size: 1.5rem

ol
  margin: .5rem 0
  font-size: 1rem
  line-height: 1.5rem
  li
    margin: 0
    padding: 0

.langs 
  position: absolute
  top: 0
  left: 0
  margin: 0

button
  border-radius: 0.15rem
  border: 1px solid transparent
  background-color: lightgray
  padding: .5rem .75rem
  font-size: 1rem
  line-height: 1.3rem


button.btn-link
  font-size: 1rem
  background: none
  color: #1a6dbb
  border: none
  cursor: pointer
  outline: none
  &:hover
    text-decoration: underline
  &.current
    font-weight: bolder


select, input
  max-width: 100%
  padding: .5rem
  font-size: 1rem
  line-height: 1.3rem
  background: #fff
  color: #222
  border: 1px solid #aaa
  border-radius: .25rem

.show-breed-stats
  margin: 2rem 0

  h4
    line-height: 150%
    text-align: center
    font-weight: normal
    strong
      color: #1a6dbb
      font-weight: bolder
      display: block
      text-align: center

  .note
    font-style: italic

fieldset
  margin: .5rem .15rem


.input-group
  width: 100%
  display: flex
  &.dropdown
    position: relative
    &::after
      display: block
      content: ''
      width: 0
      height: 0
      border: 5px solid transparent
      border-top-color: black
      position: absolute
      top: calc( 50% - 2px )
      right: .5rem


  input.form-control
    flex: 1 1 auto
    width: 1%
  
  .input-group-append
    margin-left: -3px
    button
      &.btn-secondary
        background-color: #6c757d
        border-color: #6c757d
        color: #fff
        border-radius: 0 .15rem .15rem 0 

  .dropdown-menu
    border: 1px solid #999
    background-color: #fff
    border-radius: .15rem
    display: none
    position: absolute
    top: 2.31rem
    left: 0
    width: 100%
    &.open
      display: block
    .dropdown-item
      cursor: pointer
      text-align: left
      width: 100%
      background-color: transparent
      &:hover
        background-color: #eee
      &.active
        background-color: #007bff
        color: white
